/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin de reset.css de Eric Meyer */

/* Esto no haria falta
* {
        margin: 0px;
        padding: 0px;
}*/

a { text-decoration: none; }

a:link, a:visited { color: black; }

/* visited link
a:visited {  color: black;}*/

/* mouse over link */
a:hover, a:active {  color: blue;}

/* selected link
a:active {  color: blue;}*/


blockquote a:link, blockquote:visited { color: blue; }

/*blockquote a:visited { color: blue; }*/

blockquote a:hover, blockquote a:active { color: grey; }

/*blockquote a:active { color: grey; }*/

h1 {
        font: bold 20px 'Montserrat', sans-serif;
}

h2 {
        font: bold 14px 'Montserrat', sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
        display: block;
}

body {
        text-align: center;
}

/* Cuando se utiiza el caracter # es un id */
/* Cuando se utiiza el caracter . es una class */
/* pongo algo para modificar el fichero */

#agrupar {
        width: 960px;
        margin: 15px auto;
        text-align: left;
}

#cabecera {
        background: #FFFBB9;
        border: 1px solid #999999;
        padding: 20px;
}

#menu {
        background: #CCCCCC;
        padding: 5px 15px;
}

#menu li {
        display: inline-block;
        list-style: none;
        padding: 5px;
        font: bold 14px verdana, sans-serif;
}

#seccion {
        float: left;
        width: 660px;
        margin: 20px;
}

#columna {
        float: left;
        width: 190px;
        margin: 20px 0px;
        padding: 20px;
        background: #CCCCCC;
}

#pie {
        clear: both;
        text-align: center;
        padding: 20px;
        border-top: 2px solid #999999;
}

article {
        background: #FFFBCC;
        border: 1px solid #999999;
        padding: 20px;
        margin-bottom: 15px;
}

article footer {
        text-align: right;
}

article h1 {
        font: bold 18px 'Montserrat', sans-serif;
}

time {
        color: #999999;
}

figcaption {
        font: italic 14px verdana, sans-serif;
}

aside h1 {
  /*font: bold 16px Theano Didot, sans-serif;*/
  font: bold 16px 'Roboto', sans-serif;
  margin-bottom: 4px;
}

div {
        width: 100px;
        margin: 20px;
        padding: 10px;
        border: 1px solid #000000;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

@font-face {
  font-family: 'KeepTheCalm';
  src: url('KeepCalm-Medium.ttf');
}

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
